<!DOCTYPE html>
<html>
    <head>
        <title>Kassenformular</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="../static/style.css" type="text/css">
        <script src="../static/cart.js"></script>
    </head>
    <body>
        <div class="testbox">
            <form>
                <br/>
                <fieldset>
                    <legend>Verkaufsdaten</legend>
                    <div class="colums">
                        <div class="item">
                            <label for="seller">Verk&auml;uferID</label>
                            <input id="seller" type="number" name="seller" />
                        </div>
                        <div class="item">
                            <label for="amount">Betrag</label>
                            <input id="amount" type="text" pattern="\d+\.\d{2}" name="amount" />
                        </div>
                    </div>
                </fieldset>
                <br/>

                <div class="btn-block">
                    <button id="continue" type="submit">Weiter</button>
                </div>
            </form>
        </div>

        <div id="warenkorb">
            <h2>Warenkorb</h2>
            <table id="cartTable" class="table">
                <thead>
                  <tr>
                    <th>VerkID</th>
                    <th>Preis</th>
                    <th>...</th>
                  </tr>
                </thead>
                <tbody id="cartTableBody"></tbody>
            </table>
            <!-- 
            <ul id="cartlist">
                
            </ul>
            -->
            <div>
                <label for="totalAmount">Gesamtsumme: </label>
                <input type="text" id="totalAmount" value="" disabled>
            </div>
            <button id="deleteAll" type="submit" style="background-color: red">Alles l&ouml;schen</button>
            <button id="submitAll" type="button">Fertig</button>
        </div>
    </body>
</html>